.container{
    margin: auto;
    width: 1200px;
}
h1{
    text-align: center;
    color: brown;
    font-weight: bold;
    font-variant-caps: all-petite-caps;
    font-size: 3em;
}
.main{
    display: flex;
    flex-direction: row;
}
.timer{
    
}