.container{
    margin: auto;
    width: 1200px;
}
h1{
    text-align: center;
    color: brown;
    font-weight: bold;
    font-variant-caps: all-petite-caps;
    font-size: 3em;
}
.card{
    font-weight: bold;
    margin: auto;
    text-align: center;
    border-radius: 20px;
    border: solid 1px gray;
    width: 400px;
    height: 600px;
    box-shadow: 10px 10px 8px #888888;
}
.timer{
    position: absolute;
    right: 20px;
    top: 100px;
    border-radius: 6px;
    border: solid 1px gray;
    width: 200px;
    height: 50px;
    text-align: center;
    font-weight: bold;
    padding-top: 12px;
    font-size: 2em;
    background-color: lightgray;
}
.timeToHolidays{
    position: absolute;
    right: 20px;
    top: 200px;
    border-radius: 6px;
    border: solid 1px gray;
    width: 450px;
    height: 50px;
    text-align: center;
    font-weight: bold;
    padding-top: 12px;
    font-size: 2em;
    background-color: lightgray;
}
.year{
    margin-top: 40px;
    font-size: 3em;

}
.month{
    margin-top: 20px;
    font-size: 4em;
    color: blue;
}
.date{
    margin-top: 20px;
    font-size: 12em;
    color: rgb(56, 57, 65);
}
.day{
    margin-top: 20px;
    font-size: 4em;    
}