<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    @if(ViewBag.cookie!=null){
        <h3>Ciasteczko: @ViewBag.cookie</h3>
    }
    else {
        <h3>Brak ciastka</h3>
    }
</body>
</html>
