<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
         <link href="~/css/site.css" rel="stylesheet">
    </head>
    <body>
        <h1>Strona layoutu</h1>
        <div class="container">
            <div class="menu">
                <div class="item-menu">
                    <a asp-page="Index">Index</a>
                </div>
                <div class="item-menu">
                    <a asp-page="Nowa">Nowa</a>
                </div>
                <div class="item-menu">
                    <a asp-page="Inna">Inna</a>
                </div>
            </div>
            <div class="main" style="border: solid 1px black;" >
                @RenderBody()
            </div>
        </div>       
       
       
        
    </body>
</html>