<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css"/>
    <title>@ViewBag.Title</title>
</head>
<body>
<div class="container">
    <h1 class="text-center bg-light m-3 p-2">Filmy</h1>
    @RenderBody()
</div>
</body>
</html>
