@model Film
@{
    Layout = "_LayoutFilm";
}
<div class="bg-light text-center">Dodawanie filmu</div>
<form class="m-2" method="post" asp-action="AddFilm">
    <div class="mb-3">
        <label class="form-label" asp-for="Id">Podaj Id</label>
        <input class="form-control" asp-for="Id"/>
    </div>
    <div class="mb-3">
        <label class="form-label" asp-for="Title"></label>
        <input class="form-control" asp-for="Title"/>
    </div>
    <div class="mb-3">
        <label class="form-label" asp-for="Date"></label>
        <input class="form-control" asp-for="Date" type="date"/>
    </div>
    <input type="submit" class="btn btn-primary btn-lg"/>
</form>

@if(ViewBag.IsPost!=null && ViewBag.IsPost){
    <div>To jest post!!!</div>
}
