@model List<Film>
@{
    Layout = "_LayoutFilm";
}
<h2>Lista filmów</h2>
@{
   // var lista = Model;
    var lp = 0;
}
<table class="table table-bordered">
    <tr>
        <th>Lp</th>
        <th>Tytuł</th>
        <th>Data wydania</th>
    </tr>
    @foreach(Film film in Model) {
        lp++;
        <tr>
            <td>@lp</td>
            <td>@film.Title</td>
            <td>@film.Date.ToShortDateString()</td>
        </tr>
    }
</table>
