@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Witojcie</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <p>Learn about <a href="http://lo-niepolomice.pl">building Web apps with ASP.NET Core</a>.</p>
</div>
<div class="nowa1">
    <p>Moja fajna strona w technologii RazorPages
        <span id="info1"></span>
        </p>
    <img alt="piłka" src="~/images/pilka.png"/>
</div>
