#timer,#timer2{
    position: absolute;
   
    right: 20px;
    border: solid 1px gray;
    padding: 10px;
    width: 150px;
    height: 27px;
    font-size: 1.2em;
    font-weight: bold;
    text-align: center;
    background-color: lightgoldenrodyellow;
}
#timer{ top: 30px;}
#timer2{ top: 80px;}