@model FacN
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width"/>
    <link rel="stylesheet" href="~/css/site.css"/>
    <title>Imodeldex</title>
</head>
<body>
<div class="container">
    <h1>Obliczanie silni</h1>
    <form method="post" asp-action="Index">
        <div class="line">
            <label asp-for="N" class="labelMy"></label>
            <input asp-for="N"/>
            <span asp-validation-for="N" class="error"></span>
        </div>
        <div class="line">
                @foreach (string c in ViewBag.Choice)
                {
                    <input type="radio" asp-for="Choice" value="@c" id="Gender@(c)" />
                    @c
                    <br/>
                }
                <span asp-validation-for="Choice" class="error"></span>
            </div>

        <div class="line">
            <input class="inputMy" type="submit" value="Oblicz"/>
        </div>
    </form>

    @if (ViewBag.OK != null && ViewBag.OK) {
        <div class="result">
            <span>Wynik obliczenia funkcji silnia @Model.N! = @Model.Result metoda: @Model.Choice </span>
        </div>
    }

</div>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>

</body>
</html>