@model IEnumerable<Book>
@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <table class="table">
        <tr>
            <th>
                lp
            </th>
        </tr>
    </table>
</div>
