@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1>Moja część prywatna strony</h1>
<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec fringilla feugiat lorem id porttitor. Sed sed aliquet lacus. Ut eu ex lectus. Duis in eros viverra, aliquet ex vel, cursus mi. Nam aliquet pulvinar eros, rutrum mattis nibh blandit nec. Nunc vitae ex ac justo egestas pretium. Morbi blandit blandit maximus. Nunc vel massa aliquam, placerat eros in, malesuada quam. Nunc nec tortor at dui pharetra iaculis auctor id nunc. Sed ac mattis nisl. Duis in metus vel dolor vestibulum finibus. Duis dignissim dui lobortis ultricies ornare. Nulla sodales velit sit amet nunc eleifend, laoreet luctus nisl laoreet.
</p>
<p>
    Cras non pellentesque tortor, quis semper neque. In ac finibus nibh, nec feugiat nulla. Nam tristique massa eu quam consequat imperdiet. Suspendisse vestibulum lorem eget convallis convallis. Morbi cursus neque dui, ut iaculis lacus pellentesque consectetur. Nunc efficitur nibh id odio aliquet sollicitudin. Nunc non suscipit nisi. Nulla ut nisi maximus, molestie est ultricies, ullamcorper urna. Donec maximus urna vel porttitor faucibus. Aliquam et egestas dui. Proin lorem ipsum, blandit vel felis quis, viverra tincidunt nisi. Vestibulum vitae lorem arcu. Integer dui est, tempus in faucibus vitae, efficitur ac ex. Nulla id sem ultricies, molestie ante id, commodo arcu.
</p>
<p>
    Integer nec iaculis ante. Morbi placerat velit eget aliquet volutpat. Etiam odio urna, mattis non tortor eget, scelerisque auctor massa. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc ultrices, nunc eu rhoncus dignissim, purus diam cursus felis, ac euismod velit turpis varius ipsum. Integer pretium sapien et justo aliquet semper. Proin at odio nec velit volutpat lacinia. Sed consectetur, est non porta rhoncus, est dui tincidunt ante, id tristique leo lorem at arcu. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Donec efficitur ex eu ex lacinia, ut aliquet nibh malesuada. Nulla molestie gravida urna in facilisis. Ut bibendum elementum leo at semper. Morbi finibus odio non augue elementum, id semper sem facilisis.
</p>
<p>
    Ut lectus mauris, eleifend in eros sed, tempus cursus arcu. Suspendisse sollicitudin sem et commodo rhoncus. Maecenas ante diam, fringilla nec massa sed, tristique blandit libero. Duis consequat augue vel eros auctor, eu eleifend odio elementum. Nulla quis tempor arcu. Integer nec eros eget elit sodales lacinia sed facilisis sapien. Phasellus ultricies porta ex, vehicula dapibus turpis. Quisque lacinia porttitor lacinia. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Duis ac venenatis leo. In eleifend finibus diam, et iaculis sapien consequat vitae. In dapibus ullamcorper nisi sagittis malesuada. Sed in euismod est. Vivamus ut aliquet lorem, ut gravida eros. Fusce nec neque quis sem pellentesque consectetur.
</p>
<p>
    Fusce rutrum sollicitudin tortor, ac imperdiet eros egestas id. Maecenas cursus mauris sit amet mi consequat, vel eleifend turpis mollis. Donec vulputate mattis nisi et rhoncus. Sed a sodales dolor. Curabitur pulvinar arcu et magna molestie, eu porta nibh hendrerit. Nullam placerat sapien vitae lacinia placerat. Pellentesque varius, risus a suscipit interdum, nibh ante auctor diam, quis gravida dui massa nec ipsum. Duis vitae porta velit. Nam eros nunc, tempus sit amet nisi ut, pharetra gravida risus. Nam non cursus nisi. In hac habitasse platea dictumst. Sed consectetur eu mi sit amet suscipit. Aenean tempus tempus purus, at varius ante molestie a. Sed rutrum ac nisi non commodo.
</p>

