@page
@model MyApp.Namespace.IndexModel

<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/style.css" rel="stylesheet">
    </head>
    <body>
    <h1>Moja strona Index typu RazorPage</h1>
    <ul>
        @foreach (string imie in Model.imiona)
        {
            <li>@imie</li>
        }
    </ul>
    </body>
</html>

