@page
@model MyApp.Namespace.IndexModel

    <h1>Moja strona Index typu RazorPage</h1>
    <ul>
        @foreach (string imie in Model.imiona)
        {
            <li>@imie</li>
        }
    </ul>
    <ol>
        <hr>
        @for (int i = 0; i < Model.imiona.Count; i++)
        {
            <li>@Model.imiona[i]</li>
        }
    </ol>

