@page
@model MyApp.Namespace.InnaModel
@{
}
<h3>Strona inna</h3>
<div>
    Lorem ipsum, dolor sit amet consectetur 
    adipisicing elit. Nesciunt fuga fugit dolore ab ipsam 
    deleniti magnam voluptatum at numquam perferendis, sunt ipsum, doloremque temporibus cum? 
    Debitis illo beatae at cupiditate?
    <img src="~/media/ch1.jpg" alt="choinka">
</div>