body{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
#baner{
    background-color: dodgerblue;
    color: white;
    padding: 10px;
    text-align: center;
}
#glowny{
    background-color: lightblue;
    padding: 100px;
}
#lewy{
    background-color: dodgerblue;
    color: white;
}