.article-content{
    margin: 20px;
    width: 80%;
}
.article-date{
    text-align: right;
    margin-right: 50px;
    color: grey;
    font-size: 0.8em;
}
.article-title{
    font-size: 1.2em;
    text-align: center;
    font-weight: bold;
    margin: 10px;
}
.article-other{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.article-tag{
    border: solid black 1px; padding: 3px; background-color: rgb(202, 202, 108);
}
.article{margin: 20px 30px;}
.line{margin: 20px;}
.line label{
    display: inline-block;
    text-align: right;
    padding-right: 5px;
    width: 150px;
}
.line textarea{
    vertical-align: top;
}
.article-btn-link{
    display: inline-block;
    text-decoration: none;
    color: darkolivegreen;
    border: solid 1px darkolivegreen;
    padding: 5px;
    margin-left: 5px;
}