table{
    border-collapse: collapse;
    border: solid 1px black;
    min-width: 300px;
    width: 60%;
    margin: auto;
    text-align: center;
}
th,td{
    border: solid 1px black;
    padding: 8px;
}
th{background-color: lightgrey;}
tr:hover{background-color: lightsteelblue;}
tr{cursor: pointer;}