.post{
    margin: 20px 30px;
}
.post-title{
    text-align: center;font-weight: bold;
}
.post-content{font-style: italic;margin: 20px;}
.post-date{text-align: right; margin-right: 20px; color: grey;}
.post-tag{padding: 6px;display: inline-block; background-color: lightsalmon;
    border: solid 1px black;}
.btn-link{
    display: inline-block;
    text-decoration: none;
    padding: 5px;
    border: solid 1px black;
    color: black;
    border-radius: 5px;
    min-width: 120px;
    text-align: center;
    background-color: lightgrey;
    margin-left: 10px;
}
.line{
    margin: 20px;    
}
label{
        display:inline-block;
        text-align: right;
        width: 150px;
        padding-right: 5px;
}
.post-link{

}
.post-other{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}