.container{
    width: 900px;
    margin: auto;
}
table{
    border-collapse: collapse;
    width: 80%;
    border: solid 1px black ;
}
th,td{
    border: solid 1px black;
    padding: 6px;
}
th{background-color: cornflowerblue;}
tr:nth-child(even){
    background-color: lightcyan;
}
nav a{
    text-decoration: none;
    color: black;
    display: inline-block;
    border: solid 1px grey;
    border-radius: 5px;
    width: 150px;
    text-align: center;
}
nav a:hover{
    font-weight: bold;
    display: inline-block;
    
}
nav ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.line{
    margin: 10px;

}
label{
    display: inline-block;
    width: 150px;
    text-align: right;
    margin-right: 5px;
}
input[type=text]{
    width: 120px;
}
input[type=submit]{
    margin-left: 160px;
    width: 120px;
    padding: 5px;
}
select{
    width: 120px;
}